*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
    font-style: normal;
}

html, body {
    width: 1600px;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

body {
    position: absolute;
    height:auto;
    border: none;
    width: 100% auto;
    overflow-x: hidden;
}

.header{
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #000000;
    backdrop-filter: blur(2px);
}

/* logo */

h1 {
    box-sizing: border-box;
    width: 72.49px;
    height: 44.91px;
    left: 4.75px;
    top: 3.55px;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
}

.border-logo {
    text-align: center;
}

.logo {
    box-sizing: border-box;
    width: 82px;
    height: 52px;
    left: 0px;
    top: 0px;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.bamboo {
    box-sizing: border-box;
    position: absolute;
    width: 7.03px;
    height: 20.98px;
    left: 13.23px;
    top: 24.64px;
}

/* header nav */

.header a{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

.about {
    position: absolute;
    width: 43px;
    height: 22px;
    left: 365px;
    top: 29px;
}

.header a:link{
    text-decoration: none;
}

.header a:hover{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -text-fill-color: transparent;
}

.map {
    position: absolute;
    width: 32px;
    height: 22px;
    left: 466px;
    top: 29px;
}

.donate {
    position: absolute;
    width: 51px;
    height: 22px;
    left: 650px;
    top: 29px;
}

.contact {
    position: absolute;
    width: 78px;
    height: 22px;
    left: 759px;
    top: 29px;
}

.design {
    position: absolute;
    width: 105px;
    height: 22px;
    left: 1275px;
    top: 29px;
}

.zoos {
    position: absolute;
    width: 36px;
    height: 22px;
    left: 556px;
    top: 29px;
}

.PageWatchOnline {
    background-image: url("/assets/images/GiantPanda.jpg");
    width: 1600px;
    height: 780px;
    left: 0px;
    right: 0px;
}

.ellipse {
    position: absolute;
    width: 465px;
    height: 465px;
    left: calc(50% - 465px/2 + 239.5px);;
    top: 92px;
}

.border-logo {
    margin: auto;
    text-align: center;
    width: 100%;

}

.watch-online {
    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2 + 332px);
    top: 625px;
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-radius: 25px;
    color: #EAF7FE;
    font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
}

.PageWatchOnline p {
    position: absolute;
    width: 500.31px;
    height: 400px;
    left: calc(50% - 500.31px/2 + 330.15px);
    top: 166px;
    font-weight: 700;
    font-size: 106.496px;
    line-height: 75%;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
}

.favorite {
    color: #FFEE2E;
}

/* the backstage of the wilderness world */

.wilderness-world {
    position: absolute;
    height: 403px;
    left: 219px;
    right: 220px;
    top: 920px;
}

.bamboo-cap {
    position: absolute;
width: 609px;
height: 403px;
left: 0px;
top: 0px;
}

.wilderness-world h2 {
    position: absolute;
    width: fit-content;
height: 116px;
left: 696px;
right: 0px;
top: 0px;
font-weight: 400;
font-size: 48px;
line-height: 120%;
color: #333B41;
}

.foundation{
    position: absolute;
height: 42px;
left: 696px;
right: 0px;
top: 136px;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #333B41;

}

.wilderness-world h6{
    position: absolute;
width: 217px;
height: 29px;
left: calc(50% - 217px/2 + 224px);
top: 232px;
font-weight: 400;
font-size: 24px;
line-height: 120%;
color: #333B41;

}

.how-it-works{
    position: absolute;
height: 105px;
left: 696px;
right: 0px;
top: 295px;

font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #333B41;

}

.flower-photo{
    position: absolute;
    margin-top: auto;
    width: 293px;
    padding-top: 10px;
    margin-top: -10px;
    height: 500px;
    left: 1400px;
    top: 800px;
/*background-image: url('/assets/images/flower-foto1.png');
background-repeat: no-repeat;*/
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.animal-cards {
    
position: absolute;
width: 1158px;
height: 872px;
left: calc(50% - 1158px/2 - 1px);
top: 1503px;

background: #FFFFFF;
}

.scroll-cards{
    position: absolute;
width: 1158px;
height: 872px;
left: 0px;
top: 0px;

}

.animal{
    width: 360px
}

.card{
    position: absolute;
    box-sizing: border-box;
    border-color:  #FE9013;
    border-style: solid;
    border-radius: 5px;
    width: 366px;
    height: 426px;
    left: 0px;
    top: 0px;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    text-transform: uppercase;
    color: #000000;
}

.card:hover{
    border-style: solid;
    border-color: #000000;
}


.icon-herbivore{
    position: absolute;
width: 33px;
height: 37px;
left: 321px;
top: 376px;
}


.icon-carnivore{
    position: absolute;
    width: 48px;
    height: 38px;
    left: 310px;
    top: 374px;
    
}


.eagle {
    left: 396px;
}

.gorilla {
    left: 792px;
}

.sloth {
    top: 446px;
}

.cheetah {
    left: 396px;
top: 446px;
}

.penguin {
    left: 792px;
top: 446px;
}

.arrow-left{
    background-image: url(/assets/icons/arrow-left.svg);
    background-size: cover;
    position: absolute;
    border: none;
    background-color: #FFFFFF;
width: 62px;
height: 62px;
right: 1400px;
top: 1906px;
}

.arrow-right{
    /*background-image: url(/assets/icons/arrow-right.svg);*/
    background-size: cover;
    position: absolute;
    border: none;
    background-color: #FFFFFF;
width: 62px;
height: 62px;
right: 140px;
top: 1906px;

}

.arrow-left, .arrow-right:hover{
    color: #FFEE2E;
}

.choose-your-favorite{
    position: absolute;
width: 298px;
height: 54px;
left: calc(50% - 298px/2);
top: 2455px;

/* or3 */

background: #FE9013;
border-color: #FE9013;;
border-radius: 25px;

}

.choose-your-favorite p{
    position: absolute;
width: 292px;
height: 22px;
left: 5px;
top: 16px;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.choose-your-favorite:hover{
    border-style: solid;
    border-color: #000000;
}

.palm-photo{
    background-image: url(/assets/images/palm-foto.png);
    position: absolute;
    width: 875px;
    height: 460px;
    left: -588px;
    top: 2149px;
    
}

.strelitzia-photo{
    background-image: url(/assets/images/strelitzia.png);
    background-position: center;
    position: absolute;
width: 368px;
height: 275px;
right: 0px;
top: 2334px;
}

.pick-a-friend{
    position: absolute;
    height: 1004px;
    left: 0px;
    right: 0px;
    top: 2609px;
    background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
opacity: 0.9;
}

.pick-and-feed{
    position: absolute;
height: 835px;
left: 220px;
right: 220px;
top: 69px;

/* frosted_glass_white */

background: rgba(253, 253, 255, 0.52);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
}

.pick-a-friend h3{
position: absolute;
width: 463px;
height: 58px;
left: calc(50% - 463px/2 + 1.5px);
top: 70px;
font-weight: 400;
font-size: 48px;
line-height: 120%;
margin-top: -20px;
/* identical to box height, or 58px */

text-align: center;

color: #FE9013;

}

.animals-bring-joy{
    position: absolute;
width: 844px;
height: 29px;
left: calc(50% - 844px/2 - 59px);
top: 138px;
font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */


color: #333B41;
}

.covid-19{
    position: absolute;
width: 1061px;
height: 21px;
left: calc(50% - 1061px/2 + 49.5px);
top: 247px;
font-weight: 500;
font-size: 16px;
line-height: 130%;
color: #333B41;

}

.consider-a-gift{
    position: absolute;
width: 863px;
height: 42px;
left: calc(50% - 863px/2 - 49.5px);
top: 278px;
font-weight: 400;
font-size: 16px;
line-height: 130%;
/* or 21px */


color: #333B41;
}

.pick-a-friend h5{
position: absolute;
width: 209px;
height: 47px;
left: calc(50% - 209px/2 - 0.5px);
top: 380px;

font-weight: 400;
font-size: 36px;
line-height: 130%;
color: #333B41;
}

.donation{
    position: absolute;
    width: 168px;
    height: 244px;
    border-radius: 5px;
    left: calc(50% - 168px/2 - 298px);
    top: 467px;
}

.donation-card{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.donation p{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    position: absolute;
    width: 168px;
    height: 46px;
    left: 0px;
    top: 198px;
    color: #333B41;
}

.icon{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 168px;
    height: 168px;
    background: #FFFFFF;
    border-style: solid;
    border-color: #FE9013;
    border-radius: 5px;
}

.pay-hand{
    left: calc(50% - 168px/2 - 298px);
    top: 487px;
}

.pay-hand p{
    position: absolute;
    width: 168px;
    height: 46px;
    left: 0px;
    top: 198px;
}

.payment-goes{
    left: calc(50% - 168px/2);
    top: 487px;
}

.pay img{
    position: absolute;
    width: 80px;
    height: 108px;
    left: 50px;
    top: 30px;
margin: 0px auto;
    display: flex;


}

.payment img{
    position: absolute;
    left: 40px;
    right: 50px;
    top: 15.57%;
    bottom: 45.49%;
display: flex;
margin: 0px auto;
}

.banana img{
    position: absolute;
    left: 13.1%;
    right: 12.65%;
    top: 19.67%;
    bottom: 50.98%;
margin-left: auto;
margin-right: auto;
}

.animal-fed{
    left: calc(50% - 168px/2 + 298px);
    top: 487px;
}

.arrow{
    position: absolute;
    display: flex;
    flex-direction: row;
    left: 400px;
    width: 69px;
    height: 35.08px;
}

.first{
    /*left: calc(50% - 69px/2 - 80.5px);*/
    top: 549px;
}

.second{
    /*left: calc(50% - 69px/2 + 217.5px);*/
    left: 700px;
    top: 545px;
}

.feed-a-friend{
    position: absolute;

    position: absolute;
    width: 298px;
    height: 54px;
    left: calc(50% - 298px/2);
    top: 791px;
    /* orange */
    
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    border-color: transparent;
    border-radius: 25px;
    font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 140%;
text-align: center;
text-transform: uppercase;
color: #FFFFFF;
}

.feed-a-friend:hover{
    border-color: #000000;
}

/* testimonials */

.testimonials{
    position: absolute;
height: 575px;
left: 220px;
right: 220px;
top: 3753px;
}

.testimonials h4{
    position: absolute;
width: 206px;
height: 47px;
left: calc(50% - 206px/2);
top: 0px;
font-weight: 400;
font-size: 36px;
line-height: 130%;
text-align: center;
color: #333B41;
}

.testimonial-card {
    box-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-color: pink;
    background: #F1F3F2;
    border-radius: 20px;
}

.testimonial-card h6{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 120%;
color: #000000;
line-height: 120%;
display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.testimonial-card p{
    font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #BDBDBD;
position: absolute;
width: 180px;
height: 19px;
left: 63px;
top: 35px;
}

.testimonial-card article{

font-weight: 300;
font-size: 15px;
line-height: 120%;
color: #767474;
position: absolute;
position: absolute;
width: 237px;
height: 309px;
left: 16px;
top: 63px;

}

.testimonial-card img{
    position: absolute;
width: 37px;
height: 37px;
left: 16px;
top: 15px;
}

.michael{
    position: absolute;
width: 268px;
height: 391px;
left: calc(50% - 268px/2 - 446px);
top: 94px;
}

.oskar{
    position: absolute;
width: 268px;
height: 391px;
left: calc(50% - 268px/2 - 148px);
top: 94px;
}

.oskar h6{
    width: 126px;
}

.fredericka{
    position: absolute;
width: 267px;
height: 391px;
left: calc(50% - 267px/2 + 148.5px);
top: 94px;
}

.mila{
    position: absolute;
    display: flex;
width: 266px;
height: 391px;
left: calc(50% - 266px/2 + 447px);
top: 94px;
}

.scroll-line {
    -webkit-appearance: none;
    width: 100%;
    background: transparent;
}
.scroll-line::-webkit-slider-runnable-track{
    border: 1px solid #FE9013;
    position: absolute;
    width: 599px;
height: 8px;
left: calc(50% - 599px/2 - 0.5px);
top: 506px;
position: absolute;
background: #F5F7F6;
border-radius: 5px;
}

.scroll-line::-moz-range-thumb{
    -webkit-appearance: none;
    position: absolute;
width: 115.19px;
height: 6px;
background: #FE9013;
border-radius: 5px;
}

.scroll-line::-ms-thumb{
    -webkit-appearance: none;
    position: absolute;
width: 115.19px;
height: 6px;
background: #FE9013;
border-radius: 5px;
}


.scroll-line::-webkit-slider-thumb{
    -webkit-appearance: none;
    position: absolute;
width: 115.19px;
height: 6px;
background: #FE9013;
border-radius: 5px;
}

.scroll-line::-moz-range-track{
    -webkit-appearance: none;
    position: absolute;
width: 115.19px;
height: 6px;
background: #FE9013;
border-radius: 5px;
}

.scroll-line::-ms-track{
    -webkit-appearance: none;
    position: absolute;
width: 115.19px;
height: 6px;
left: 280px;
top: 506px;
background: #FE9013;
border-radius: 5px;
}

.scroll-line:focus{
    outline: #000000;
}

.scroll-line:hover{
    border-color: #000000;
}

.scroll-line::-ms-track{
    width: 100%;
    cursor: pointer;
    background: transparent;
    border-color: #F9804B;
    color: #FE9013;
}

.leave-feedback{
    position: absolute;
width: 298px;
height: 54px;
left: 0px;
top: 545px;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-color: transparent;
border-radius: 5px;
font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;
text-transform: uppercase;

color: #FFFFFF;
}

.leave-feedback:hover{
    border-color:#000000;
}

.leaf{ 
background-image: url(/assets/images/leav-foto.png);
background-position: center;
background-repeat: no-repeat;
position: absolute;
width: 300.92px;
height: 340px;
right: -27px;
top: 4300px;
}

footer{
    position: absolute;
    height: 443px;
    top:  4532px;
    bottom: 0px;
    left: 0px;
    right: 0px;

background: #111115;
}

footer .border-logo{
position: absolute;
width: 82px;
height: 52px;
left: 220px;
top: 41px;
}

.donate-for-volunteers{
    position: absolute;
width: 298px;
height: 54px;
left: 220px;
top: 161px;
position: absolute;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 5px;
border-color: transparent;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
font-weight: 500;
font-size: 16px;
line-height: 140%;
}

.social-links li{
    font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
}

.social-ellipse{
    position: absolute;
width: 26px;
height: 26px;
border-radius: 50%;
background: rgba(196, 196, 196, 0.5);
}

.facebook{
    position: absolute;
width: 111px;
height: 26px;
left: 220px;
bottom: 158px;
}

.twitter{
    position: absolute;
width: 89px;
height: 26px;
left: 220px;
bottom: 122px;
}

.twitter img{
    left: 5px;
top: 6px;
}

.twitter a{
    left: 38px;
top: 3px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
}

.instagram{
    position: absolute;
width: 110px;
height: 26px;
left: 220px;
bottom: 86px;

}

.youtube{
    position: absolute;
width: 101px;
height: 26px;
left: 220px;
bottom: 50px;
}

footer h3{
    position: absolute;
width: 237px;
height: 29px;
right: 350px;
top: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;

color: #FFFFFF;
}

.email-subscription{
    box-sizing: border-box;


border-color: #FE9013;
border-radius: 2px;
background-color: transparent;


position: absolute;
width: 228px;
height: 42px;
right: 359px;
top: 83px;

font-weight: 400;
font-size: 16px;
line-height: 140%;

color: #BDBDBD;
}

.subscribe{
    position: absolute;
width: 129px;
height: 42px;
right: 220px;
top: 83px;

font-weight: 400;
font-size: 16px;
line-height: 140%;
background: #F1F3F2;

border: 1px solid #333B41;
border-radius: 5px;

color: #000000;

}

.designer{
    position: absolute;
width: 220px;
height: 21px;
right: 228px;
bottom: 81px;

font-weight: 100;
font-size: 16px;
line-height: 130%;

color: #FFFFFF;

}

.rights{
    position: absolute;
width: 228px;
height: 21px;
right: 220px;
bottom: 50px;

font-weight: 100;
font-size: 16px;
line-height: 130%;

color: #FFFFFF
}