*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
}

html, body {
    width: 1600px;
    height: 100%;
    margin: 0px;
    padding: 0px;

}

body {
    position: absolute;
    height:auto;
    border: none;
    width: 100% auto;
    overflow-x: hidden;
}

button:link{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
}
button:active{
    background: #4B9200;
}
button:hover{
    background: #E47209;
}
button:disabled{
    background: #767474;
}

.header{
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    background: #000000;
    backdrop-filter: blur(2px);
}

/* logo */

h1 {
    box-sizing: border-box;
    width: 72.49px;
    height: 44.91px;
    font-weight: 400;
    font-size: 19.0145px;
    line-height: 120%;
    text-align: center;
    color: #FFFFFF;
    border: 1.18841px solid #FFFFFF;
}

.border-logo {
    position: absolute;
    width: 82px;
    height: 52px;
    left: 220px;
top: 14px;
}

.logo {
    box-sizing: border-box;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}

.bamboo {
    box-sizing: border-box;
    position: absolute;
    width: 7.03px;
    height: 20.98px;
    left: 13.23px;
    top: 24.64px;
}

/* header nav */

.header a{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
}

header .about {
    position: absolute;
    width: 43px;
    height: 22px;
    left: 365px;
    top: 29px;
}

.header a:link{
    text-decoration: none;
}

.header a:hover{
    background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -text-fill-color: transparent;
}

header .map {
    position: absolute;
    width: 32px;
    height: 22px;
    left: 466px;
    top: 29px;
}

header .donate {
    position: absolute;
    width: 51px;
    height: 22px;
    left: 650px;
    top: 29px;
}

header .contact {
    position: absolute;
    width: 78px;
    height: 22px;
    left: 759px;
    top: 29px;
}

.design {
    position: absolute;
    width: 105px;
    height: 22px;
    left: 1275px;
    top: 29px;
}

header .zoos {
    position: absolute;
    width: 36px;
    height: 22px;
    left: 556px;
    top: 29px;
}

.panda-pic{
    background-image: url(/assets/images/GiantPanda.jpg);
    background-position: center;
    position: absolute;
height: 390px;
left: 0px;
right: 0px;
top: 76px;

}

.help-zoo{
    position: absolute;
height: 1482px;
left: 0px;
right: 0px;
top: 466px;

/* orange_gradient */

background: linear-gradient(315.75deg, rgba(254, 210, 144, 0.7) 30.06%, #FEBDAB 100.95%, rgba(254, 210, 144, 0.7) 106.36%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%), linear-gradient(315.75deg, rgba(254, 189, 171, 0.74) 30.06%, rgba(243, 169, 248, 0.66) 50.74%, #E0D8F0 80.49%, #EAF7FE 127.9%, #EAF7FE 149.54%);
}

.help-zoo h2{
    position: absolute;
    width: 100%;
height: 47px;
left: 220px;
right: 223px;
top: 40px;

/* h3 */


font-weight: 400;
font-size: 36px;
line-height: 130%;
/* identical to box height, or 47px */


color: #FFFFFF;
}

.help-zoo article{
    position: absolute;
height: 94px;
left: 220px;
right: 220px;
top: 97px;

/* body */


font-weight: 500;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;
}

.help-zoo h5{
    
position: absolute;
width: 341px;
height: 47px;
left: calc(50% - 341px/2 - 409.5px);
top: 231px;

/* h3 */

font-weight: 400;
font-size: 36px;
line-height: 130%;
/* identical to box height, or 47px */


/* or3 */

color: #FE9013;
}

.donation-process{
    position: absolute;
 display: inline-block;
height: 964px;
left: 220px;
right: 220px;
top: 338px;

background: rgba(255, 255, 255, 0.52);
backdrop-filter: blur(2px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
}

.donation-process h3{
    position: absolute;
width: 463px;
height: 58px;
left: 342px;
top: 40px;

/* h2 */

font-weight: 400;
font-size: 48px;
line-height: 120%;
/* identical to box height, or 58px */

text-align: center;

/* or3 */

color: #FE9013;

}

.animals-bring-you-joy{
    position: absolute;
width: 1095px;
height: 29px;
left: 0px;
top: 118px;

/* subtitle */

font-weight: 400;
font-size: 24px;
line-height: 120%;
/* identical to box height, or 29px */

text-align: center;
color: #333B41;
}

.number{
    position: absolute;
width: 82px;
height: 58px;
left: 345px;
top: 312px;

font-weight: 500;
font-size: 72px;
line-height: 80%;
/* identical to box height, or 58px */

text-align: center;
text-transform: uppercase;

color: #000000;
}

.number-description{
    
position: absolute;
width: 159px;
height: 22px;
left: 307px;
top: 381px;

/* body */

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */

text-align: center;

color: #333B41;
}

.x-icon{
    position: absolute;
left: 39.45%;
right: 59.12%;
top: 34.45%;
bottom: 63.92%;

}

.panda-icon{
    position: absolute;
width: 284px;
height: 246px;
left: 555px;
top: 207px;
}

.progress-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    left: 92px;
    top: 540px;
    width: 976px;
    height: 27px;
    background-color: #404950;
    border-radius: 2px;;
}

.grey-rectangle{
    position: absolute;
width: 915px;
height: 2px;
left: 31px;
top: 512px;

background: #72828E;
}

.circle{
    position: absolute;
width: 10px;
height: 10px;
border-radius: 50%;
display: flex;
align-items: center;
justify-content:space-between;
background: #FFEE2E;
margin: 0 60px;
}

footer{
    position: absolute;
    height: 443px;
    top:  1868px;
    bottom: 0px;
    left: 0px;
    right: 0px;

background: #111115;
}

footer .border-logo{
position: absolute;
width: 82px;
height: 52px;
left: 220px;
top: 41px;
}

.donate-for-volunteers{
    position: absolute;
width: 298px;
height: 54px;
left: 220px;
top: 161px;
position: absolute;
background: linear-gradient(113.96deg, #F9804B 1.49%, #FE9013 101.44%);
border-radius: 5px;
border-color: transparent;
text-align: center;
text-transform: uppercase;

color: #FFFFFF;
font-weight: 500;
font-size: 16px;
line-height: 140%;
}

.social-media p{
    font-weight: 400;
font-size: 16px;
line-height: 140%;
color: #FFFFFF;
}

.links a:link, .logo a:link, .donate-for-volunteers a:link{
    text-decoration: none;
}

.social-ellipse{
    position: absolute;
width: 26px;
height: 26px;
border-radius: 50%;
background: rgba(196, 196, 196, 0.5);
}

.facebook{
    position: absolute;
width: 111px;
height: 26px;
left: 220px;
bottom: 158px;
}
.facebook p{
    position: absolute;
width: 73px;
height: 21px;
left: 38px;
top: 5px;
}
.facebook img{
    position: absolute;
    width: 8px;
height: 16px;
left: 9px;
top: 5px
}

.twitter{
    position: absolute;
width: 89px;
height: 26px;
left: 220px;
bottom: 122px;
}

.twitter p{
    position: absolute;
width: 50px;
height: 22px;
left: 38px;
top: 3px;
}

.twitter img{
    position: absolute;
    width: 16px;
    height: 14px;
    left: 5px;
    top: 6px;
}


.instagram{
    position: absolute;
width: 110px;
height: 26px;
left: 220px;
bottom: 86px;

}

.instagram img{
    position: absolute;
width: 16px;
height: 16px;
left: 5px;
top: 5px;

}

.instagram p{
    position: absolute;
width: 73px;
height: 22px;
left: 38px;
top: 3px;
}

.youtube{
    position: absolute;
width: 101px;
height: 26px;
left: 220px;
bottom: 50px;
}

.youtube p{
    position: absolute;
width: 63px;
height: 22px;
left: 38px;
top: 4px;

}

.youtube img{
    
position: absolute;
width: 18px;
height: 12.99px;
left: 4px;
top: 6px;
}

footer h3{
    position: absolute;
width: 237px;
height: 29px;
right: 350px;
top: 40px;

font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 120%;

color: #FFFFFF;
}

.email-subscription{
    box-sizing: border-box;


border-color: #FE9013;
border-radius: 2px;
background-color: transparent;


position: absolute;
width: 228px;
height: 42px;
right: 359px;
top: 83px;

font-weight: 400;
font-size: 16px;
line-height: 140%;

color: #BDBDBD;
}

.email-subscription:active{
    border-color: #4B9200;
}

.email-subscription:invalid{
    border-color: rgba(211, 20, 20, 1);
}

.email-subscription::placeholder:invalid{
    color: rgba(211, 20, 20, 1);
}

.subscribe{
    position: absolute;
width: 129px;
height: 42px;
right: 220px;
top: 83px;

font-weight: 400;
font-size: 16px;
line-height: 140%;
background: #F1F3F2;

border: 1px solid #333B41;
border-radius: 5px;

color: #000000;

}

.designer{
    position: absolute;
width: 220px;
height: 21px;
right: 228px;
bottom: 81px;

font-weight: 100;
font-size: 16px;
line-height: 130%;

color: #FFFFFF;

}

.rights{
    position: absolute;
width: 228px;
height: 21px;
right: 220px;
bottom: 50px;

font-weight: 100;
font-size: 16px;
line-height: 130%;

color: #FFFFFF
}

footer a{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
/* or 22px */


color: #FFFFFF;

}

footer .about{
    position: absolute;
width: 43px;
height: 22px;
left: calc(50% - 43px/2 - 159.5px);
bottom: 50px;
}

footer .map{
    position: absolute;
width: 32px;
height: 22px;
left: calc(50% - 32px/2 - 64px);
bottom: 50px;
}

footer .zoos{
    position: absolute;
width: 36px;
height: 22px;
left: calc(50% - 36px/2 + 28px);
bottom: 50px;
}

footer .contact{
    position: absolute;
width: 77px;
height: 22px;
left: calc(50% - 77px/2 + 142.5px);
bottom: 50px;
}

#bullets{
    list-style: none !important;
}

footer a:hover{
    color: #f9804b;
}

.social-media:active{
    color: #4B9200;
}